html,
body {
  min-width:290px;
  color: #4d4e53;
  background-color: #F5F4DE;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position:fixed;
  min-width:290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right:solid;
  border-color: rgba(0,22,22,0.4);
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  font-family: 'Permanent Marker', cursive;
}

h4 {
  font-family: 'Permanent Marker', cursive;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top:1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  display: block;
  padding: 10px 30px;
  color:white;
  background-color: brown;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}


section li {
  margin: 15px 0px 0px 20px;
}

#short {
  color:brown;
  text-decoration: none;
}

#short:hover {
  color:green;
  
}

@media only screen and (max-width: 815px) {
  /*for mobile folk*/
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top:270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}

/*Footer*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* section {
    padding: 60px 0;
} */


#footer {
  background: #F5F4DE !important;
}


#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:black;
}
#footer a {
  color: black;
  text-decoration: none !important;
  /* background-color: transparent; */
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
color: green;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:black;
}
#footer ul.social li a:hover{
color:black;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}
